<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Возможности</h2>
                    <h3 class="section-subheading text-muted">Хочешь развиваться творчески, завести новых друзей - запишись в кружок и вперёд!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Пенопластовые модели</h4>
                    <p class="text-muted">Совсем ничего не знаешь и не умеешь? Не беда, мы начинаем обучение с простых в построении моделей из пенопласта!</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Планёры</h4>
                    <p class="text-muted">Хочешь участвовать в соревнованиях или даже стать чемпионом мира? Планёры это настоящий вид спорта со своей культурой.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Радиоуправляемые модели</h4>
                    <p class="text-muted">Пенопластовые модели и планёры слишком скучные? Тогда сделай свою модель на радиоуправлении!</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Нестандартные модели</h4>
                    <p class="text-muted">Даже радиоуправление не впечатлило? Тогда собери совершенно уникальный летающий аппарат, любых форм и размеров. В наше время и кирпич может летать!</p>
                </div>
            </div>
        </div>
    </section>